<div class="container-fluid border-top text-center" id="footer"><!--Footer-->

    <div class="container p-5">

      <img src="../img/main/LogoNS_smaller_white.png" alt="Noah Studio">

      <h6 class="p-2">Noah Studio - 2023</h6>

      <ul>
        <li class="p-1"><a href="#">Home</a></li>
        <li class="p-1"><a href="/about/">About</a></li>
        <li class="p-1"><a href="https://noahmiller.art" target="_blank" rel="noopener">Blog</a></li>
        <li class="p-1"><a href="/contact/">Contact</a></li>
      </ul>
      <ul>
        <li class="p-1"><a href="#">Illustration</a></li>
        <li class="p-1"><a href="/animation/">Animation</a></li>
        <li class="p-1"><a href="#">Design</a></li>
        <li class="p-1"><a href="#">Technical Drawing</a></li>
      </ul>

      <div class="container-fluid text-center" id="socialmedia">
        <ul>
          <li><a href="https://twitter.com/NoahStudioArt" target="_blank" rel="noopener"><img src="../img/main/twitter.png" alt="Twitter" class="img-fluid"></a></li>
          <li><a href="https://www.instagram.com/noahstudio.space/" target="_blank" rel="noopener"><img src="../img/main/instagram.png" alt="Instagram" class="img-fluid"></a></li>
          <li><a href="https://www.linkedin.com/company/noahstudio" target="_blank" rel="noopener"><img src="../img/main/linkedin.png" alt="LinkedIn" class="img-fluid"></a></li>
          <li><a href="https://www.youtube.com/@NoahStudioArt" target="_blank" rel="noopener"><img src="../img/main/youtube.png" alt="Youtube" class="img-fluid"></a></li>
        </ul>
      </div>
        
    </div>

</div><!--End Footer-->