body {
    background-color: ghostwhite;
}

.dropdown-menu{
    background-color: rgba(241, 231, 250, 0.952);
    border: none;
}
.navbar a:hover {
    color: rebeccapurple;
}

.dropdown-menu a:hover{
    color: white;
}
.dropdown-item:hover{
    background-color: mediumpurple;
}

#footer{
    background: linear-gradient(to bottom, #F0FFFF, #FFFAF0);
}