body {
    background-color: ghostwhite;
}
hr {
    color: rgb(196, 196, 196);
}

/** Home **/

#container {
    width: 100%;
    overflow: hidden;
  }
  
  #image-container {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  #image-container img {
    width: 1200px;
    height: 200px;
    margin: 0;
    padding: 0;
  }

#whatido img {
    border-radius: 50%;
    opacity: 0.7;
}
#whatido img:hover {
    opacity: 1;
}
  

/** Navbar **/
.dropdown-menu{
    background-color: rgba(241, 231, 250, 0.952);
    border: none;
}
.navbar a:hover {
    color: rebeccapurple;
}
.dropdown-menu a:hover{
    color: white;
}
.dropdown-item:hover{
    background-color: mediumpurple;
}

/** About **/
#testimonials img {
    border-radius: 50%;
}
#clients img{
    padding: 2%;
    opacity: 0.7;
}
#bio {
    text-align: justify;
}
#bio h1{
    text-align: left;
}
#bio img{
    width: 120px;
    height: 35px;
}

/** Contact **/
#contact ul {
    list-style: none;
    padding: 0;
}
#contact ul li{
    display: inline-block;
}
#contact button{
    background-color: #58127f;
    border: none;
}
#contact button:hover{
    background-color: #7a1081;
}
#contact img{
    width: 25px;
    height: 25px;
    opacity: 0.7;
}
#contact img:hover{
    opacity: 1;
}

/** Projects **/
#ido {
    background-color: #ececec;
    border-radius: 10px;
}
#ido button {
    background-color: #58127f;
    border-style: none;
}
#ido button:hover {
    background-color: #7a1081;
}

#thumbnails img{
    opacity: 0.7;
}
#thumbnails img:hover{
    opacity: 1;
}
.selected img {
    border: 1px solid rgb(0, 0, 0);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
    opacity: 1 !important;
}

#backtop{
    background-color: #ececec;
    border-radius: 5px;
}
#backtop a{
    text-decoration: none;
    color: rgb(119, 119, 119);
}
#backtop a:hover{
    color: #58127f;
}

.poster img{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

#animacontent h1{
    font-size: xx-large;
}
#animacontent button{
    background-color: #58127f;
    border-style: none;
}
#animacontent button:hover {
    background-color: #7a1081;
}
#illustracontent h1{
    font-size: xx-large;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
}

#gallery a {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    text-decoration: none;
}

#gallery img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.masonry-container {
    column-count: 3;
    column-gap: 5px;
  }
  
  .masonry-item {
    width: 100%;
    margin-bottom: 5px;
  }  
  

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.popup-image {
    max-width: 80%;
    max-height: 80%;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

/** Footer **/
#footer{
    background: linear-gradient(to bottom, #7a1081, #58127f);
}
#footer h6{
    color: white;
    font-size: small;
}
#footer ul{
    list-style: none;
    padding: 0%;
}
#footer ul li{
    display: inline-block;
}
#footer a:link, #footer a:visited{
    text-decoration: none;
    font-size: smaller;
    color: white;
    opacity: 0.3;
}
#footer a:hover{
    color: white;
    opacity: 1;
}
#footer img:hover{
    opacity: 1;
}
#socialmedia img{
    width: 25px;
    height: 25px;
}