body {
    background-color: ghostwhite;
}
hr {
    color: rgb(196, 196, 196);
}

/** Navbar **/
.dropdown-menu{
    background-color: rgba(241, 231, 250, 0.952);
    border: none;
}
.navbar a:hover {
    color: rebeccapurple;
}
.dropdown-menu a:hover{
    color: white;
}
.dropdown-item:hover{
    background-color: mediumpurple;
}

/** About **/
#testimonials img {
    border-radius: 50%;
}
#clients img{
    padding: 2%;
    opacity: 0.7;
}
#bio {
    text-align: justify;
}
#bio h1{
    text-align: left;
}
#bio img{
    width: 120px;
    height: 35px;
}

/** Contact **/
#contact ul {
    list-style: none;
    padding: 0;
}
#contact ul li{
    display: inline-block;
}
#contact button{
    background-color: #58127f;
    border: none;
}
#contact button:hover{
    background-color: #7a1081;
}
#contact img{
    width: 25px;
    height: 25px;
    opacity: 0.7;
}
#contact img:hover{
    opacity: 1;
}

/** Projects **/

#ido {
    background-color: #ececec;
    border-radius: 10px;
}
#ido button {
    background-color: #58127f;
    border-style: none;
}
#ido button:hover {
    background-color: #7a1081;
}

.image-list {
    list-style: none;
}
.image-list li {
    display: inline-block;
}
.image-list li img {
    border-radius: 5px;
    opacity: 0.7;
}
.image-list li img:hover{
    opacity: 1;
}

/** Footer **/
#footer{
    background: linear-gradient(to bottom, #7a1081, #58127f);
}
#footer h6{
    color: white;
    font-size: small;
}
#footer ul{
    list-style: none;
    padding: 0%;
}
#footer ul li{
    display: inline-block;
}
#footer a:link, #footer a:visited{
    text-decoration: none;
    font-size: smaller;
    color: white;
    opacity: 0.3;
}
#footer a:hover{
    color: white;
    opacity: 1;
}
#footer img:hover{
    opacity: 1;
}
#socialmedia img{
    width: 25px;
    height: 25px;
}